@page
@model Bookstore_Mission9.Pages.CompleteModel
@{
}

<div class="text-center">
    <h2>Thank you for your order! We will send you a confirmation when it has shipped.</h2>
    <a class="btn btn-primary" asp-controller="Home">Go Back To Home</a>
</div>